nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: antiquewhite;
    height: 70px;

}
nav .nav-logo img{
    width: 150px;
    padding-left: 50px;
}
nav .nav-desc img, a{
    margin-right: 30px;
    text-decoration: none;
}
nav .nav-desc a{
    font-size: 20px;
    font-weight: 600;
}
nav .nav-desc a:last-child{
    background-color: rgb(253, 45, 9);
    color: white;
    padding: 8px 20px;
    border-radius: 30px;
}
